# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.apivenv/
apivenv/

# Environment variables
*.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
